# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
myenv/
venv/
env/

# Streamlit Secrets
.streamlit/secrets.toml

# Model files
*.pt
*.pth

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/